<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177826183440-nd98977e965t3685r7civ36l28lucosl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177826183440-nd98977e965t3685r7civ36l28lucosl</string>
	<key>API_KEY</key>
	<string>AIzaSyC4e_Q1NlfpxfCFqj9wRhf4__mS7jiT99U</string>
	<key>GCM_SENDER_ID</key>
	<string>177826183440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mubashirs.app.naascoMart</string>
	<key>PROJECT_ID</key>
	<string>naasco-mart-v</string>
	<key>STORAGE_BUCKET</key>
	<string>naasco-mart-v.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177826183440:ios:8d1ffba1423cafd7cecd95</string>
</dict>
</plist>